.footer {
  width: 2660px;
  height: 132px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  background-color: #fff;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}
