.main-content {
  position: relative;
  width: 2660px;
  height: 1716px;
  margin: auto;
  //   left: 50%;
  //   top: 50%;
  //   transform: translate(-50%, -50%);

  background: #f5f4ef;
  box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.nav-bar {
  background: #1f2326;
  height: 132px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  display: flex;

  // .nav-bar__logos

  &__logos {
    display: flex;
    align-items: center;
    padding: 46px 73px;
    gap: 120px;
  }

  // .nav-bar__logos-items

  &__logos-items {
    position: relative;

    &:first-child::after {
      position: absolute;
      margin-left: 60px;
      display: inline-block;
      content: "";
      width: 2px;
      height: 42px;
      background-color: #ffffff;
    }
  }

  // .nav-bar__logos-links

  &__logos-links {
    text-decoration: none;
  }

  // .nav-bar__logo

  &__logo {
    height: 40px;
    width: auto;
  }

  // .nav-bar__list

  &__list {
    display: flex;
    align-items: center;
    gap: 65px;
  }

  // .nav-bar__item

  // .nav-bar__link

  &__link {
    display: block;
    padding: 57px 0;
    text-decoration: none;
    height: 100%;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-align: center;

    color: #ffffff;

    &:hover,
    &:focus {
      color: #6baadb;
    }
  }
}

.main-bg {
  position: relative;
  width: 100%;
  height: 1500px;
  background: #ff4656 url(../image/background2.png) center / contain no-repeat;
}

.wrapper {
  width: 100%;
  height: 100%;
  background: url(../image/bg-layout.png) no-repeat;
  background-position: 100px 73px;
  display: flex;
  align-items: flex-start;
}

.main-title {
  //   display: block;
  margin-left: 215px;
  width: 510px;
  //   height: 210px;
  font-family: "Druk Wide Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 156px;
  line-height: 204px;
  text-align: center;
  letter-spacing: 0.1em;
  color: transparent;

  -webkit-text-stroke: 2px #ffffff;
  //   -webkit-text-fill-color: transparent;
  //   border: 2px solid #ffffff;
  transform: rotate(90deg) translate(-90px);
  transform-origin: left bottom;
}

.card {
  // .card__list

  &__list {
    margin-left: -215px;
    margin-top: 115px;
    display: flex;
    gap: 145px;
    height: 990px;
  }

  // .card__item

  &__item {
    position: relative;
    height: 990px;
  }
}

.text-wrapper {
  position: absolute;
  top: 40px;
  left: 82px;
  transform-origin: top left;
  transform: rotate(90deg);
}

.country {
  font-family: "Druk Wide Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.1em;

  color: #ff4656;

  //   transform: rotate(90deg);
}

.name {
  font-family: "Druk Wide Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 94px;
  letter-spacing: 0.1em;

  color: transparent;
  transition: 0.5s all ease;
  -webkit-text-stroke: 2px #ffffff;

  .card__item:hover & {
    -webkit-text-stroke: 2px #1f2326;
  }
  //   transform: rotate(90deg);
}

.thumb {
  // position: absolute;
  display: block;
  width: 440px;
  height: 990px;
  background-color: #1f2326;
  background: linear-gradient(135deg, transparent 15px, #1f2326 0) top left;
  transition: 0.5s all ease;
  // clip-path: polygon(15px 0%, 100% 0%, 100% 100%, 0% 100%);
  // border-top-left-radius: 15px;
  .card__item:hover & {
    background-color: #ffffff;
    background: linear-gradient(135deg, transparent 15px, #ffffff 0) top left;
    border: 2px solid #1f2326;
  }
}

.img {
  height: 100%;
}
.skills {
  position: absolute;
  left: 31px;
  bottom: -36px;
  // .skills__decor

  &__decor {
    width: 440px;
    height: 110px;
    background-color: #1f2326;
    border: 2px solid #f8f8f8;
    box-sizing: border-box;
    padding: 19px 42px;
    transition: 0.5s all ease;
    fill: #f8f8f8;

    &:hover {
      fill: #1f2326;
      background-color: #f8f8f8;
    }

    // &:last-child {
    //   fill: #f8f8f8;
    //   transition: 0.5s all ease;

    //   .card__item:hover & {
    //     fill: #1f2326;
    //   }
    // }

    .card__item:hover & {
      background-color: #ffffff;
      fill: #1f2326;
      border-color: #1f2326;
    }
  }
}
